{% extends 'layouts/base-fullscreen.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}Sign In{% endblock title %}

{% block content %}
 
<!-- Page content -->
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-5 col-md-7">
			<div class="card bg-secondary shadow border-0">
				<div class="card-header bg-transparent pb-5">
					<div class="text-muted text-center mt-2 mb-3">
						<img 
							 src="{% static 'assets/img/brand/raw-logo-comp.png' %}" 
							 class="mx-auto" width="250rem"
							>
					</div>
				</div>
				<div class="card-body px-lg-5 py-lg-5">
					<div class="text-center text-muted mb-4">
							<p>Add your credentials</p>
					</div>
					<form method="POST" action="{% url 'account_login' %}">
						{% csrf_token %}
						{{ form|crispy }}
                        <div class="text-center mt--3">
                            <small>
								<a href="{% url 'account_reset_password' %}">
									Have you forgotten your password?
								</a>
							</small>
                        </div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary my-4">
								Sign In
							</button>
						</div>
					</form>
					<hr>
					{% url 'account_signup' as signup_url %}
					<div class="text-center py-2">
						Or <a href="{{ signup_url }}">create a new account</a>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-6  offset-1 text-right">
					<a href="{% url 'home:support-page' %}" class="text-light">
						<small>Get Support</small>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}