{% extends 'layouts/base.html' %} 

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}

<div 
     class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; 
            background-image: url(/static/assets/img/theme/profile-cover.jpg); 
            background-size: cover; 
            background-position: center top;"
    >
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col">
                <h1 class="display-2 text-white">
                    Hello{{ user.name|title }}
                </h1>
                <p class="text-white mt-0 mb-5">
                    This is your profile page
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img 
                     src="{% static 'assets/img/theme/img-1-1000x600.jpg' %}" 
                     alt="Image placeholder" 
                     class="card-img-top"
                    >
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img 
                                     alt="Profile Picture" 
                                     class="rounded-circle" 
                                     src="{{ user.get_picture_url }}"
                                     style="width: 125px; height: 125px;"
                                    >
                            </a>
                        </div>
                    </div>
                </div>
                <div 
                     class="card-header 
                            text-center 
                            border-0 
                            pt-8 pt-md-4 pb-0 pb-md-4"
                    >
                    <div class="d-flex justify-content-between"></div>
                </div>
                <div class="card-body pt-0 mt-4 mb-3">
                    <div class="text-center">
                        <h5 class="h3">
                            {{ user.name|title }}
                        </h5>
                        <small>{{ user.get_user_type_display|title }}</small>
                        <div>
                            {{ user.about|truncatechars:30 }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Edit profile</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">
                        User's information
                    </h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">
                                        User ID
                                    </label>
                                    <input 
                                           type="text" 
                                           id="input-username" 
                                           class="form-control" 
                                           placeholder="User ID" 
                                           value="{{ request.user.username }}" 
                                           disabled
                                          >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">
                                        Email address
                                    </label>
                                    <input 
                                           type="email" 
                                           id="input-email" 
                                           class="form-control" 
                                           placeholder="{{ request.user.email|default_if_none:'not set' }}" 
                                           disabled
                                          >
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-warning" href="{% url 'account_email' %}">
                            Manage your e-mail addresses
                        </a>
                    </div><hr>
                    <h6 class="heading-small text-muted my-4">
                        Change Your Password
                    </h6>
                    <div class="pl-lg-4">
                        <div class="my-2">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="text-danger">- {{ field.label }}: {{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p class="text-danger">- {{ error }}</p>
                            {% endfor %}
                        </div>
                        <form method="POST" action="{% url 'change-password' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form.oldpassword|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form.password1|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form.password2|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger" name="action">
                                Change
                            </button>
                        </form>
                    </div>
                    <hr class="my-4">
                    <form method="POST" action="{% url 'profile' %}">
                        <!-- Description -->
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">About me</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Bio</label>
                                <textarea 
                                          rows="4" 
                                          class="form-control" 
                                          placeholder="A few words about you ..." 
                                          name="about"
                                         >
                                         {{ user.about|default_if_none:"" }}
                                </textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-neutral">
                            Edit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}