{% extends 'layouts/base.html' %}

{% load static %}
{% load customtags %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Home</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="{% url 'support:home' %}">Dashboard</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body" style="height: 7.7rem;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">School</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ school }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="fas fa-school"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body" style="height: 7.7rem;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Classes</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ school.class_school.count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body" style="height: 7.7rem;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Teachers</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ school.teacher_school.count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="fas fa-book"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-12">
            <div class="card bg-default">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                            <h5 class="h3 text-white mb-0">Classes</h5>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover align-items-center table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th>Class ID</th>
                                <th>Subjects Count</th>
                                <th>Students Count</th>
                                <th>Students</th>
                                <th>Performance</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for class in classes %}
                            <tr>
                                <th scope="row" class="name">
                                    <div class="media align-items-center">
                                        <h1 class="text-gray mr-4"><a href="{{ class.get_absolute_url }}">{{ class.class_id }}</a></h1>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm"></span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget text-gray">
                                    {{ class.subjects.count }}
                                </td>
                                <td class="budget text-gray">
                                    {{ class.student_class.count }}
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        {% if class.student_class.all.exists %}
                                            {% for student in class|get_students_class_header %}
                                            <a href="{{ student.get_absolute_url_supports }}" class="avatar avatar-sm text-gray" data-toggle="tooltip"
                                                data-original-title="{{ student.user.name }}">
                                                <img alt="profile picture" src="{{ student.user.picture.url }}" class="rounded-circle">
                                            </a>
                                            {% endfor %}
                                        {% else %}
                                            <h3 class="text-gray">No student in this class</h3>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="status">
                                    <span class="badge badge-dot mr-4 text-gray">
                                        <i class="bg-{{ class.get_average_grade_percent|set_average_grade_color }}"></i>
                                        {{ class.get_average_grade_percent }}%
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-center"><a href="{% url 'support:classes' %}"><strong>...</strong></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-dark text-uppercase ls-1 mb-1">Overview</h6>
                            <h5 class="h3 text-dark mb-0">Teachers</h5>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Subjects Count</th>
                                <th>Performance</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for teacher in teachers %}
                            <tr>
                                <th scope="row" class="name">
                                    <div class="media align-items-center">
                                        <h1 class="text-dark mr-4"><a href="{{ teacher.get_absolute_url }}">{{ teacher.user.name|title }}</a></h1>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm"></span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget text-dark">
                                    {{ teacher.subject_teacher.count }}
                                </td>
                                <td class="budget text-dark">
                                    {{ teacher.get_average_performance_six_months }}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-center"><a href="{% url 'support:teachers' %}"><strong>...</strong></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script>
    const dataset = [];
    $(document).ready(function () {
        $("#initialChart").trigger("click");
        $("#initialBar").trigger("click");
    });
</script>

{% endblock javascripts %}