{% extends 'layouts/base.html' %} 

{% load crispy_forms_tags %} 
{% load customtags %} 

{% block title %} {{ subject.name|title }} - {{ subject.teacher.user.name|title }} {% endblock title %} 

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Teacher: {{ subject.teacher.user.name|title }}</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'support:home' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'support:subjects' %}">Subjects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ subject.name|title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Classes</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Class ID</th>
                                <th>Students Count</th>
                                <th>Students</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        {% for class in classes %}
                            <tbody class="list">
                                <tr>    
                                    <th scope="row" class="name">
                                        <div class="media align-items-center">
                                            <h1 class="text-dark mr-4"><a href="{{ class.get_absolute_url }}">{{ class.class_id }}</a></h1>
                                            <div class="media-body">
                                                <span class="mb-0 text-sm"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        {{ class.student_class.count }}
                                    </td>
                                    <td>
                                        <div class="avatar-group">
                                            {% if class.student_class.all.exists %}
                                                {% for student in class|get_students_class_header %}
                                                    <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{ student.user.name }}">
                                                        <img alt="profile picture" src="{{ student.user.picture.url }}" class="rounded-circle">
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                                <h3>No student in this class</h3>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="status">
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-{{ class.get_average_grade_percent|set_average_grade_color }}"></i> 
                                            {{ class.get_average_grade_percent }}%
                                        </span>
                                    </td>
                                    <td class="budget">
                                        {{ subject.teachers }}
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}