{% load i18n %}

<!-- Footer -->
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
                <a href="https://appseed.us/admin-dashboards/django" class="font-weight-bold ml-1" target="_blank"></a>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="text-center text-xl-center text-muted">
                {% url 'home:support-page' as support_url %}
                <a href="{% url 'home:home' %}" class="font-weight-bold ml-1"> &copy; {% blocktrans %}DjS School</a> - coded by <a target="_blank" href="{{ support_url }}">Saman Zand</a>{% endblocktrans %}
            </div>
        </div>
    </div>
</footer>