{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}
{% load customtags %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %} {{ class.class_id }} {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">
                        {% trans 'Class:' %} {{ class.class_id }}
                    </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a>
                            </li>
                            
                            <li class="breadcrumb-item">
                                <a href="{% url 'supports:home' %}">{% trans 'Dashboard' %}</a>
                            </li>

                            <li class="breadcrumb-item">
                                <a href="{% url 'supports:classes' %}">{% trans 'Classes' %}</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">
                                {{ class.class_id|title }}

                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12 col-md-12 col-5 text-right">
                    <!-- Modals Buttons -->
                    <button type="button" 
                            data-toggle="modal" 
                            data-target="#editClass" 
                            class="btn btn-sm btn-neutral">
                        <i class="fas fa-pen"></i>
                        {% trans 'Edit' %}
                    </button>
                    <!-- Modals Buttons -->
                    <button type="button" data-toggle="modal" data-target="#deleteClass"
                        class="btn btn-sm btn-danger text-white border-danger">
                        <i class="fas fa-trash-alt"></i>
                        {% trans 'Delete' %}
                    </button>
                    <!-- Add Grades Modal -->
                    <div class="modal text-left fade" 
                         id="deleteClass" 
                         tabindex="-1" 
                         role="dialog" 
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        {% trans 'Delete Class' %}
                                    </h5>
                                    <button type="button" 
                                            class="close" 
                                            data-dismiss="modal" 
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="model-body text-center">
                                    {% trans 'Are You sure you want to delete this class PERMANENTLY?' %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-secondary" 
                                            data-dismiss="modal">{% trans 'No' %}
                                    </button>
                                    <a type="button" 
                                       class="btn btn-danger text-white"
                                       href="{% url 'supports:classes-del' class.pk %}">{% trans 'Yes' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Grades Modal -->
                    <div class="modal {% if LANGUAGE_CODE != 'fa' %}text-left{% endif %} fade" 
                         id="editClass" 
                         tabindex="-1" 
                         role="dialog"
                         aria-labelledby="exampleModalLabel" 
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" 
                                        id="exampleModalLabel">{% trans 'Edit this Class' %}
                                    </h5>
                                    <button type="button" 
                                            class="close" 
                                            data-dismiss="modal" 
                                            aria-label="Close">
                                            <span aria-hidden="true">
                                                &times;
                                            </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="mt-2">
                                        <hr>
                                        {% if form.errors or form.non_field_errros %}
                                            <h3>{% trans 'Invalid Inputs:' %}</h3><br>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <p class="text-danger">- {{ field.label }}: {{ error }}</p>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errorserrors %}
                                                <p class="text-danger">- {{ error }}</p>
                                            {% endfor %}
                                            <hr>
                                        {% endif %}
                                    </div>
                                    <form id="createClassForm" method="POST">
                                        {% csrf_token %}
                                        <div class="my-4">
                                            {{ form.class_id.label }}
                                            {{ form.class_id }}
                                        </div>

                                        <div class="my-4">
                                            {{ form.subjects.label }}
                                            <div class="container-fluid mt-2">
                                                <div class="row">
                                                    {% for subject in form.subjects %}
                                                        <div class="col-12">
                                                            <div class="card border-0 bg-gradient-light text-dark text-center">
                                                                <label for="{{ subject.id_for_label }}">
                                                                    <input class="form-control form-control-sm mt--3" 
                                                                           name="{{ form.subjects.html_name }}" 
                                                                           value="{{ subject.data.value }}" 
                                                                           id="{{ subject.id_for_label }}" 
                                                                           type="checkbox">
                                                                    <div class="card-body">
                                                                        <div class="card-title">
                                                                            {{ subject.choice_label|title }}
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-secondary" 
                                            data-dismiss="modal">
                                            {% trans 'Close' %}
                                    </button>
                                    <button type="button" 
                                            class="btn btn-primary"
                                            onclick="$('#createClassForm').submit()">
                                            {% trans 'Edit' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row">
                {% if class.subjects %}
                    {% for subject in class.subjects.all %}
                        <div class="col-lg-3 col-md-6">
                            <div class="card border-0 bg-gradient-gray-dark">
                                <a href="{{ subject.get_absolute_url }}" class="text-light">
                                    <div class="card-body">
                                        <div class="card-title">
                                            {{ subject.name|title }}
                                        </div>
                                        <p class="card-text">
                                            {% trans 'Teacher:' %} 
                                            <br><strong>{{ subject.teacher.user.name|title }}</strong><br>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="card border-0 bg-gradient-gray-dark">
                        {% comment %} make this link work {% endcomment %}
                            <a href="{{ teacher.get_absolute_url }}" class="text-light">
                                <div class="card-body">
                                    <div class="card-title">
                                        {% trans 'No course is added yet.' %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">{% trans 'Students' %}</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table table-hover align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Picture' %}</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% if students %}
                                {% for student in class.student_class.all %}
                                    <tr>    
                                        <td>{{ forloop.counter }}</td>
                                        <th scope="row" class="name">
                                            <div class="media align-items-center">
                                                <h1 class="text-dark mr-4"><a href="{{ student.get_absolute_url_supports }}">
                                                    {{ student.user.name|title }}
                                                </a></h1>
                                                <div class="media-body">
                                                    <span class="mb-0 text-sm"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="avatar-group">
                                                {% if class.student_class %}
                                                    {% for student in class|get_students_class_header %}
                                                    <a href="{{ student.get_absolute_url_supports }}" 
                                                       class="avatar avatar-sm" 
                                                       data-toggle="tooltip"
                                                       data-original-title="{{ student.user.name }}">
                                                        <img alt="profile picture" 
                                                             src="{{ student.user.picture.url }}" 
                                                             class="rounded-circle">
                                                    </a>
                                                    {% endfor %}
                                                {% else %}
                                                    <h3>{% trans 'No student in this class' %}</h3>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center">
                                        {% trans 'No student is added to this class yet.' %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}