{% extends 'layouts/base.html' %} 

{% load crispy_forms_tags %} 
{% load customtags %} 
{% load i18n %}

{% block title %} 
    {{ subject.teacher.user.name|title }}: {{ subject.name|title }}
{% endblock title %} 

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-md-12 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">
                        {% trans 'Teacher:' %} {{ subject.teacher.user.name|title }}
                    </h6>
                    <nav 
                         aria-label="breadcrumb" 
                         class="d-none d-md-inline-block ml-md-4"
                        >
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'supports:home' %}">
                                    {% trans 'Dashboard' %}
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'supports:subjects' %}">
                                    {% trans 'Subjects' %}
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ subject.name|title }}
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12 col-md-12 col-5 text-right">
                    <!-- Modals Buttons -->
                    <button 
                            type="button" 
                            data-toggle="modal" 
                            data-target="#deleteExam"
                            class="btn btn-sm btn-danger text-white border-danger text-right"
                           >
                        <i class="fas fa-trash-alt"></i>
                        {% trans 'Delete' %}
                    </button>
                    <!-- Add Grades Modal -->
                    <div 
                         class="modal fade" 
                         id="deleteExam" 
                         tabindex="-1" 
                         role="dialog" 
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true"
                        >
                        <div 
                             class="modal-dialog modal-dialog-centered" 
                             role="document"
                            >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        {% trans 'Delete Course' %}
                                    </h5>
                                    <button 
                                            type="button" 
                                            class="close" 
                                            data-dismiss="modal" 
                                            aria-label="Close"
                                           >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="model-body text-center">
                                    {% trans 'Are You sure you want to delete this course PERMANENTLY?' %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        {% trans 'No' %}
                                    </button>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input name="operation" value="dc" type="hidden">
                                        <button type="submit" class="btn btn-danger">
                                            {% trans 'Yes' %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">{% trans 'Classes' %}</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>{% trans 'Class ID' %}</th>
                                <th>{% trans 'Students Count' %}</th>
                                <th>{% trans 'Students' %}</th>
                                <th>{% trans 'Teacher' %}</th>
                            </tr>
                        </thead>
                        {% if classes %}
                            {% for class in classes %}
                                <tbody class="list">
                                    <tr>    
                                        <th scope="row" class="name">
                                            <div class="media align-items-center">
                                                <h1 class="text-dark mr-4">
                                                    <a href="{{ class.get_absolute_url }}">
                                                        {{ class.class_id }}
                                                    </a>
                                                </h1>
                                                <div class="media-body">
                                                    <span class="mb-0 text-sm"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            {{ class.student_class.count }}
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                {% if class.student_class.all %}
                                                    {% for student in class|get_students_class_header %}
                                                        <a 
                                                           href="#" 
                                                           class="avatar avatar-sm" 
                                                           data-toggle="tooltip" 
                                                           data-original-title="{{ student.user.name }}"
                                                          >
                                                            <img 
                                                                 alt="profile picture" 
                                                                 src="{{ student.user.get_picture_url }}" 
                                                                 class="rounded-circle"
                                                                >
                                                        </a>
                                                    {% endfor %}
                                                {% else %}
                                                    <h3>{% trans 'No student in this class.' %}</h3>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="status">
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-{{ class.get_average_grade_percent\
                                                    |set_average_grade_color }}"></i> 
                                                {{ class.get_average_grade_percent }}%
                                            </span>
                                        </td>
                                        <td class="budget">
                                            {{ subject.teachers }}
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        {% else %}
                            <tbody class="list">
                                <tr>
                                    <td colspan="4" class="text-center">
                                        {% trans 'This course is not used by any class.' %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}