{% extends 'layouts/base.html' %} 

{% load crispy_forms_tags %} 
{% load customtags %} 
{% load i18n %}

{% block title %} {% trans 'Teachers' %} {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{% trans 'Teachers' %}</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'supports:home' %}">{% trans 'Dashboard' %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Teachers' %}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12 col-md-12 col-5">
                    <!-- Modals Buttons -->
                    <button type="button" data-toggle="modal" data-target="#createClass" class="btn btn-sm btn-neutral">
                        <i class="fas fa-plus"></i> {% trans 'New' %}
                    </button>
                    <!-- Add Grades Modal -->
                    <div class="modal fade" id="createClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Create A New Teacher' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="">* {% trans 'these fields are required' %}</div>
                                    <div class="mt-2">
                                        {% if form.errors %}
                                            <hr>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                <p class="text-danger">- {{ field.label }}: {{ error }}</p>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <p class="text-danger">- {{ error }}</p>
                                            {% endfor %}
                                            <hr>
                                        {% endif %}
                                    </div>
                                    <form id="createClassForm" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <div class="my-4">
                                            {{ form.username.label }}*
                                            {{ form.username }}
                                        </div>

                                        <div class="my-4">
                                            {{ form.first_name.label }}*
                                            {{ form.first_name }}
                                        </div>

                                        <div class="my-4">
                                            {{ form.last_name.label }}*
                                            {{ form.last_name }}
                                        </div>

                                        <div class="my-4">
                                            {{ form.password1.label }}*
                                            {{ form.password1 }}
                                            <small>
                                                <ul class="text-black-50">
                                                    <li>{% trans 'Your password can’t be too similar to your other personal information.' %}</li>
                                                    <li>{% trans 'Your password must contain at least 8 characters.' %}</li>
                                                    <li>{% trans 'Your password can’t be a commonly used password.' %}</li>
                                                    <li>{% trans 'Your password can’t be entirely numeric.' %}</li>
                                                </ul>
                                            </small>
                                        </div>

                                        <div class="my-4">
                                            {{ form.password2.label }}*
                                            {{ form.password2 }}
                                        </div>

                                        <div class="my-4">
                                            {{ form.email.label }}
                                            {{ form.email }}
                                        </div>

                                        <div class="my-4">
                                            {{ form.picture.label }}
                                            {{ form.picture }}
                                            <small>
                                                <ul class="text-black-50">
                                                    <li>{% trans "The size of your file can't exceed 3MB." %}</li>
                                                    <li>{% trans 'Allowed extensions are .jpg and .png.' %}</li>
                                                </ul>
                                            </small>
                                        </div>
                                        <input name="user_type" value="T" type="hidden">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                                    <button type="button" class="btn btn-primary" onclick="$('#createClassForm').submit()">{% trans 'Create' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row">
                {% if teachers %}
                    {% for teacher in teachers %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card border-0 bg-gradient-gray-dark">
                                <a href="{{ teacher.get_absolute_url }}" class="text-light">
                                    <div class="card-body">
                                        <div class="card-title">
                                            {{ teacher.user.name|title }}
                                        </div>
                                        <p class="card-text">
                                            {% trans 'Courses:' %} {{ teacher.subject_teacher.count }}<br>
                                            {% trans 'Degree:' %} {{ teacher.degree|default:"not set" }}<br>
                                            {% trans 'Phonenumber:' %} {{ teacher.user.phone_number }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %} 
                {% else %}
                    <div class="col">
                        <div class="card border-0 bg-gradient-gray-dark text-white my-4">
                            <div class="card-body">
                                <strong class="card-text">{% trans 'No teacher is added yet.' %}</strong>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}