{% extends 'layouts/base-fullscreen.html' %}

{% load i18n %}

{% block title %} {% trans 'Error 403' %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">

              <div class="text-muted text-center mt-2 mb-3">
                {% trans 'Oops... Error 403.' %}
              </div>

              <div class="text-center mb-4">
                <h3 class="display-3">{% trans 'ACCESS DENIED' %}</h3>
              </div><br>
              {% if user.user_type == "SS" and not user.school_support %}
                {% url 'supports:create-school' as create_school_url %}
                <div class="text-center mb-4">
                  {% blocktrans %}You must <a href="{{ create_school_url }}">register your school</a>.{% endblocktrans %}
                </div>
              {% endif %}

              {% url 'home:home' as home_url %}
              <div class="text-center mb-4">
                  {% blocktrans %}Go back to <a href="{{ home_url }}">homepage</a>.{% endblocktrans %}
              </div>

            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="{% url 'home:home' %}" class="text-light"><small>{% trans 'Home' %}</small></a>
            </div>          
            <div class="col-6 text-right">
              <a href="{% url 'home:support-page' %}" class="text-light"><small>{% trans 'Get Support' %}</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
