{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!-- Footer -->
<footer class="footer" 
        {% if LANGUAGE_CODE != 'en' %}
            style="direction: ltr; text-align: right"
        {% endif %}>
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="text-center text-xl-center text-muted">
                {% url 'home:support-page' as support_url %}
                {% url 'home:home' as home_url %}
                &copy; <a href="{{ home_url }}" class="font-weight-bold ml-1"> Takhte Whiteboard</a> - coded by <a target="_blank" href="{{ support_url }}">Saman Zand</a>
            </div>
        </div>
    </div>
</footer>