{% load static %}

<nav 
     class="navbar navbar-top mb-2
            navbar-expand navbar-dark 
            {{ nav_color|default:'bg-primary' }} border-bottom"
     style="z-index:600"
    >
    <div class="container-fluid">
        <div 
             class="collapse navbar-collapse" 
             id="navbarSupportedContent"
            >
            <ul class="navbar-nav align-items-center ml-auto ml-md-0 ">
                <li class="nav-item dropdown">
                    <a 
                       class="nav-link pr-0" 
                       href="#" 
                       role="button" 
                       data-toggle="dropdown" 
                       aria-haspopup="true" 
                       aria-expanded="false"
                      >
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img 
                                     alt="Profile Picture" 
                                     src="{% if user.is_authenticated %}
                                              {{ user.get_picture_url }}
                                          {% else %}
                                              {% static 'assets/img/icons/empty-profile.jpg' %}
                                          {% endif %}"
                                     style="width: 36px; height: 36px;"
                                    >
                            </span>
                            <div class="media-body  ml-2  d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">
                                    {{ user.name|title }}
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        {% if user.user_type == "T" %}
                            <a href="{% url 'profile' %}" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>My profile</span>
                            </a>
                        {% endif %}
                        <a href="{% url 'home:support-page' %}" class="dropdown-item">
                            <i class="ni ni-support-16"></i>
                            <span>Support</span>
                        </a>
                        <button
                                id="webpush-subscribe-button" 
                                data-url="/webpush/save_information"
                                class ="dropdown-item"
                               >
                            <i class="far fa-bell"></i>
                            Subscribe to Push Messaging
                        </button>
                        {% if user.is_authenticated %}
                        <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item">
                                <i class="ni ni-user-run text-red"></i>
                                <span>Log Out</span>
                            </a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item d-xl-none mx-2">
                    <!-- Sidenav toggler -->
                    <div 
                         class="pr-3 sidenav-toggler sidenav-toggler-dark" 
                         data-toggle="sidenav" 
                         data-action="sidenav-pinned" 
                         data-target="#sidenav-main"
                        >
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>