{% extends 'layouts/base.html' %}

{% load static %}
{% load customtags %}
{% load i18n %}

{% block title %} {% trans 'Articles' %} {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-info pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">
                        {% trans 'Articles' %}
                    </h6>
                    <nav 
                         aria-label="breadcrumb" 
                         class="d-none d-md-inline-block ml-md-4"
                        >
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'supports:home' %}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {% trans 'Articles' %}
                            </li>
                        </ol>
                    </nav>
                </div>
                {% if user.user_type != "S" %}
                    <div class="col-lg-12 col-md-12 col-5 text-right">
                        <a 
                        href="{% url 'home:add-article' %}" 
                        class="btn btn-sm btn-neutral my-1"
                        >
                            <i class="fas fa-plus"></i>
                            {% trans 'New' %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    {% if articles %}
        {% for article in articles %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table 
                                   class="table table-hover 
                                          table-dark align-items-center table-flush"
                                  >
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="author">
                                            added by {{ article.author }}
                                        </th>
                                        <th scope="col" class="timestamp">
                                            at {{ article.timestamp }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 4rem;">
                                        <td>
                                            <span class="font-weight-bolder article-title">
                                                {{ article.title|title }}
                                            </span>
                                        </td>
                                        <td>
                                            {% for category in article.categories %}
                                                <span class="badge badge-warning article-category">
                                                    {{ category }}
                                                </span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr style="height: 6rem;">
                                        <td colspan="3" class="px-5 article-content">
                                            {{ article.text|safe }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-right">
                                            <div>
                                                <span class="badge badge-lg badge-light">
                                                    <a 
                                                       href="{% url 'home:article-detail' article.pk %}" 
                                                       class="text-blue"
                                                      >
                                                      read this
                                                    </a>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card border-0 bg-gradient-neutral" style="height: 7rem;">
            <div class="card-body">
                <div class="my-auto">No articles yet</div>
            </div>
        </div>
    {% endif %}
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

{% block javascripts %}

<script>
    MathJax = {
        tex: {
            inlineMath: [['\\(', '\\)']]
        },
    };
</script>
<script 
        type="text/javascript" 
        id="MathJax-script" 
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" 
        async
       >

{% endblock %}