{% extends 'layouts/base.html' %}

{% load static %}
{% load customtags %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %} {{ article.title }} {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">
                        {{ article.title }}
                    </h6>
                    <nav 
                         aria-label="breadcrumb" 
                         class="d-none d-md-inline-block ml-md-4"
                        >
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'supports:home' %}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:articles' %}">Articles</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ article.title }}
                            </li>
                        </ol>
                    </nav>
                </div>
                {% if article.author == user %}
                    <button 
                            type="button" 
                            data-toggle="modal" 
                            data-target="#delete-article"
                            class="btn btn-sm 
                                   btn-danger text-white 
                                   border-danger 
                                   {% if LANGUAGE_CODE != 'fa' %}ml-auto{% endif %}"
                           >
                        <i class="fas fa-trash-alt"></i>
                        {% trans 'Delete' %}
                    </button>
                    <div 
                         class="modal fade
                                {% if LANGUAGE_CODE != 'fa' %}text-left{% endif %}" 
                         id="delete-article"
                         tabindex="-1" 
                         role="dialog" 
                         aria-labelledby="delete-article" 
                         aria-hidden="true"
                        >
                        <div 
                             class="modal-dialog modal-dialog-centered" 
                             role="document"
                            >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-article">
                                        {% trans 'Delete' %}
                                    </h5>
                                    <button 
                                            type="button" 
                                            class="close" 
                                            data-dismiss="modal" 
                                            aria-label="Close"
                                           >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="model-body text-center">
                                    <p>
                                        {% blocktrans %}
                                        You are about to delete this article permanently. Are
                                        you sure you want to do this?
                                        {% endblocktrans %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button 
                                            type="button" 
                                            class="btn btn-secondary" 
                                            data-dismiss="modal"
                                           >
                                        {% trans 'No' %}
                                    </button>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="operation" value="da">
                                        <button type="submit" class="btn btn-danger">
                                           {% trans 'Yes' %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="author">
                                    added by {{ article.author }}
                                </th>
                                <th scope="col" class="timestamp">
                                    last updated at {{ article.timestamp }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height: 4rem;">
                                <td>
                                    <span class="font-weight-bolder article-title">
                                        {{ article.title|title }}
                                    </span>
                                </td>
                                <td>
                                    {% for category in article.categories %}
                                        <span class="badge badge-warning article-category">
                                            {{ category }}
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="px-5">
                                    {% if article.author == user %}
                                        <form method="POST" action="{% url 'home:add-article' %}">
                                            {% csrf_token %}
                                            {{ form.media }}
                                            <div>
                                                {{ form.text }}
                                            </div>
                                            <button type="submit" class="btn btn-default mt-2">
                                                Update
                                            </button>
                                        </form>
                                    {% else %}
                                        {{ article.text|safe }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

{% block javascripts %}

<script>
    MathJax = {
        tex: {
            inlineMath: [['\\(', '\\)']]
        },
    };
</script>
<script 
        type="text/javascript" 
        id="MathJax-script" 
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
        async
       >

{% endblock %}