{% extends 'layouts/base.html' %} 

{% load static %} 
{% load customtags %} 
{% load i18n %}

{% block title %}Classes{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 

{% block content %}
<div class="header bg-gradient-yellow pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">
                        Classes
                    </h6>
                    <nav 
                         aria-label="breadcrumb" 
                         class="d-none d-md-inline-block ml-md-4"
                        >
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'teachers:home' %}">
                                    Dashboard
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Classes
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--5">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Classes</h3>
                </div>
                <div class="table-responsive">
                    <div>
                        <table class="table align-items-center">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        Class ID
                                    </th>
                                    <th scope="col">
                                        Students Count
                                    </th>
                                    <th scope="col">
                                        Students
                                    </th>
                                    <th scope="col">
                                        Average Grade
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% if classes %}
                                    {% for class in classes %}
                                        <tr>
                                            <th scope="row" class="name">
                                                <div class="media align-items-center">
                                                    <h1 class="text-dark mr-4">
                                                        {{ class.class_id }}
                                                    </h1>
                                                    <div class="media-body">
                                                        <span class="mb-0 text-sm"></span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="budget">
                                                {{ class.student_class.count }}
                                            </td>
                                            <td>
                                                <div class="avatar-group">
                                                    {% if class.student_class.all %}
                                                        {% for student in class|get_students_class_header %}
                                                            <a
                                                               href="{{ student.get_absolute_url_teachers }}" 
                                                               class="avatar avatar-sm" 
                                                               data-toggle="tooltip" 
                                                               data-original-title="{{ student.user.name }}"
                                                              >
                                                                <img 
                                                                     alt="profile picture" 
                                                                     src="{{ student.user.get_picture_url }}" 
                                                                     class="rounded-circle"
                                                                    >
                                                            </a>
                                                        {% endfor %}
                                                    {% else %}
                                                        <h3 class="text-dark">
                                                            No student found in this class.
                                                        </h3>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="status">
                                                <span class="badge badge-dot mr-4">
                                                    <i class="bg-{{ class.average_grade_percent|set_average_grade_color }}"></i> 
                                                    {{ class.average_grade_percent }}%
                                                </span>
                                            </td>
                                            <td class="completion">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="progress mx-1">
                                                            <div 
                                                                 class="progress-bar bg-{{ class.average_grade_percent|set_average_grade_color }}" 
                                                                 role="progressbar" 
                                                                 aria-valuenow="60" 
                                                                 aria-valuemin="0" 
                                                                 aria-valuemax="100" 
                                                                 style="width: {{ class.average_grade_percent }}%;"
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td 
                                            colspan="5" 
                                            class="text-center"
                                           >
                                           Sorry! We cannot find any class for you.
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}