{% extends 'layouts/base.html' %} 

{% load crispy_forms_tags %} 
{% load static %} 
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Exams' %} {% endblock title %} 

{% if LANGUAGE_CODE == 'fa' %}
    {% block extralinks %}<link rel="stylesheet" href="{% static 'assets/vendor/persian-datepicker/persian-datepicker.css' %}" />{% endblock %}
{% endif %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{% trans 'Exams' %}</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'teachers:home' %}">{% trans 'Dashboard' %}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {% trans 'Exams' %}
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Modals -->
                <div class="col-lg-12 col-md-12 col-5 text-right">
                    <!-- Modals Buttons -->
                    <button type="button" 
                            data-toggle="modal" 
                            data-target="#newExam" 
                            class="btn btn-sm btn-neutral my-1">
                        <i class="fas fa-plus"></i>
                        {% trans 'New' %}
                    </button>
                    <button type="button" 
                            data-toggle="modal" 
                            data-target="#filterExams" 
                            class="btn btn-sm btn-warning my-1">
                        <i class="fas fa-filter"></i>
                        {% trans 'Filters' %}
                    </button>

                    <!-- New Exam Modal -->
                    <div class="modal fade {% if LANGUAGE_CODE != 'fa' %}text-left{% endif %}" 
                         id="newExam" 
                         tabindex="-1" 
                         role="dialog" 
                         aria-labelledby="exampleModalLabel" 
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        {% trans 'New Exam' %}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="mt-2 mx-auto">
                                        {% if form.errors or form.non_field_errors %}
                                            <hr>
                                            <h3>Invalid Inputs:</h3><br>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <p class="text-danger">- {{ field.label }}: {{ error }}</p>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <p class="text-danger">- {{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <form 
                                        id="addExamForm" 
                                        method="POST" 
                                        data-subjects-url="{% url 'teachers:ajax-add-exam' %}">
                                        {% csrf_token %}
                                        <div id="select-class">
                                            <label for="#exam_class">{% trans 'Class' %}*</label>
                                            <select class="form-control my-1" name="exam_class" id="exam_class">
                                                <option value=""><-------------------></option>
                                                {% for class in classes %}
                                                    <option value="{{ class.pk }}">{{ class.class_id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    
                                        <div id="select-new-subject">
                                            <!-- Ajax renders this field -->
                                        </div>

                                        <div id="input-full-score">
                                            <label for="#fullscore" class="mt-3">{% trans 'Full Score' %}</label>
                                            <input class="form-control my-1" 
                                                   type="number" 
                                                   name="full_score" 
                                                   id="fullscore" 
                                                   placeholder="{% trans 'e.g. 100 or ...' %}"
                                                >
                                        </div>

                                        <div id="input-date">
                                            <label for="#date" class="mt-3">{% trans 'Date' %}</label>
                                            <input class="form-control datepicker my-1" 
                                                   type="text" 
                                                   name="timestamp" 
                                                   id="date" 
                                                   placeholder="{% trans 'Choose using the datepicker' %}">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-secondary" 
                                            data-dismiss="modal">
                                            {% trans 'Close' %}
                                    </button>
                                    <button type="button" 
                                            class="btn btn-primary" 
                                            onclick='$("#addExamForm").submit()'>
                                            {% trans 'Add' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal text-left fade {% if LANGUAGE_CODE != 'fa' %}text-left{% endif %}" 
                         id="filterExams" 
                         tabindex="-1" 
                         role="dialog" 
                         aria-labelledby="exampleModalLabel" 
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Filter Exams' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="GET" 
                                          action="{% url 'teachers:exams' %}" 
                                          data-subjects-filter="{% url 'teachers:ajax-filter-exam' %}" 
                                          id="filterForm">
                                        <h4>
                                            {% trans 'All exams corresponding to the following details:' %}
                                        </h4><br>

                                        <div id="select-class-filter" class="mb-3">
                                            <label for="#classFilter">{% trans 'Class' %}</label>
                                            <select class="form-control my-1" name="classFilter" id="classFilter">
                                                <option value="">{% trans 'All' %}</option>
                                                {% for class in classes %}
                                                    <option value="{{ class.pk }}">{{ class.class_id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div id="select-subject-filter">
                                           <!-- Ajax handles this -->
                                        </div>
                                        <hr>

                                        <div id="input-date-filter">
                                            <label for="#sinceDate">{% trans 'Since' %}</label>
                                            <input class="form-control datepicker my-1" 
                                                   id="sinceDate" 
                                                   placeholder="MM/DD/YYYY" 
                                                   name="dateSince" 
                                                   type="text">

                                            <label for="#tillDate">{% trans 'Until' %}</label>
                                            <input class="form-control datepicker my-1" 
                                                   id="tillDate" 
                                                   placeholder="MM/DD/YYYY" 
                                                   name="dateTill" 
                                                   type="text">    
                                        </div>                                    
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-secondary" 
                                            data-dismiss="modal">
                                        {% trans 'Close' %}
                                    </button>

                                    <button type="button" 
                                            class="btn btn-primary" 
                                            onclick="$('#filterForm').submit()">
                                        {% trans 'Filter' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row">
                
                {% if exams %}
                    {% for exam in exams %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card border-0 bg-gradient-gray-dark">
                                <a href="{{ exam.get_absolute_url }}" class="text-light">
                                    <div class="card-body">
                                        <div class="card-title">
                                            {{ exam.subject.name }}
                                        </div>
                                        <p class="card-text">
                                            {% trans 'Date:' %} {{ exam.timestamp|date:"D, d/m/Y" }}<br>
                                            {% trans 'Class:' %} {{ exam.exam_class }}<br>
                                            {% trans 'Full Score:' %} {{ exam.full_score }}<br>
                                            {% trans 'Average Grade:' %} {{ exam.get_average_grade }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %} 
                {% else %}
                    <div class="col">
                        <div class="card border-0 bg-gradient-gray-dark">
                            <div class="card-body">
                                <div class="card-body text-white text-center">
                                    <strong>{% trans 'No exam is created yet.' %}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% if LANGUAGE_CODE == 'en' %}
    <script src="{% static 'assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% else %}
    <script src="{% static 'assets/vendor/persian-datepicker/persian-date.js' %}"></script>
    <script src="{% static 'assets/vendor/persian-datepicker/persian-datepicker.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".datepicker").persianDatepicker({
                initialValue: false, 
                format: 'MM/DD/YYYY',
                responsive: true,
                toolbox: {
                    todayButton: {
                        enabled: true,
                    },
                },
                position: [-220, 0],
                autoClose: true,
                calendar:{
                    persian:{
                        locale: 'en'
                    }
                }
            });
        });
    </script>
{% endif %}

<script type="text/javascript">
    const dateRegex = new RegExp("^((0?0[1-9]|1[012])\/(0?0[1-9]|[12][0-9]|3[01])\/((1?1[34][0-9]{2}|20[0-9]{2})))$");

    $("#select-class>select").on("change", function() {
        let addUrl = $("#addExamForm").attr("data-subjects-url");
        let classID = $(this).val();

        $.ajax({
            method: "GET",
            url: addUrl,
            data: {
                'ajax_exam_class': classID,
            },
            success: function(response) {
                $("#select-new-subject").html(response);
            },
        }); 
    });
    
    $("#select-class-filter>select").on("change", function() {
        let filterUrl = $("#filterForm").attr("data-subjects-filter");
        let classID = $(this).val();

        $.ajax({
            method: "GET",
            url: filterUrl,
            data: {
                'classFilter': classID,
            },
            success: function(response) {
                $("#select-subject-filter").html(response);
            },
        }); 
    });

    $("#addExamForm").submit(function(event) {
        if ($("#select-class>select").val() === ""  || !dateRegex.test($("#input-date>input").val())) {
            alert("Please fill all fields with an asterisk (*) and for date use the format MM/DD/YYYY");
            event.preventDefault();
        } else {
            $("#addExamForm").submit(event);
        }   
    });

    $("#filterForm").submit(function(event) {
        if ($("#input-date-filter>input").val()) {
            if (!dateRegex.test($("#sinceDate").val())) {
                alert("Date format is not valid. Use the format MM/DD/YYYY");
                event.preventDefault();
            }
        } else {
            $("#FilterForm").submit(event);
        }   
    });
</script>

{% endblock javascripts %}