{% extends 'layouts/base.html' %} 

{% load static %}
{% load customtags %}
{% load i18n %}

{% block title %} {% trans 'Dashboard' %} {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{% trans 'Home' %}</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Dashboard' %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body" style="height: 7.7rem;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">{% trans 'School' %}</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ teacher.school }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="fas fa-school"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12" >
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body" style="height: 7.7rem;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">{% trans 'Classes' %}</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ classes.count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12" >
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body" style="height: 7.7rem;">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">{% trans 'Taken Exams' %}</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ teacher.exam_teacher.count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="fas fa-book"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card bg-default">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">{% trans 'Overview' %}</h6>
                            <h5 class="h3 text-white mb-0">{% trans 'Average Performance' %}</h5>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                {% if classes %}
                                    {% for class in classes %}
                                        <li class="nav-item mr-2 mr-md-0" 
                                            data-toggle="chart" 
                                            data-target="#chart-sales-dark" 
                                            data-prefix="" 
                                            data-suffix="%" 
                                            data-update='{"data":{
                                                "datasets":[{"data":{{ class.get_performance_percent_eight_months }}
                                                    , "label": "Average Performance"}]
                                                , "labels":[{{ eight_months_chart_labels|join:", " }}]}}'>
                                            <a href="#" class="nav-link py-2 px-3 mx-md-1" data-toggle="tab" id="initialChart">
                                                <span class="d-none d-block">{{ class.class_id }}</span>
                                                <span class="d-md-none"></span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="nav-item mr-2 mr-md-0" 
                                        data-toggle="chart" 
                                        data-target="#chart-sales-dark" 
                                        data-prefix="" 
                                        data-suffix="%" 
                                        data-update='{"data":{
                                            "datasets":[{"data":[0, 0, 0, 0, 0, 0, 0, 0]
                                                , "label": "Average Performance"}]
                                            , "labels":[{{ eight_months_chart_labels|join:", " }}]}}'>
                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab" id="initialChart">
                                            <span class="d-none d-block">{% trans 'No Class' %}</span>
                                            <span class="d-md-none"></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <!-- Chart wrapper -->
                        <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">{% trans 'Overview' %}</h6>
                            <h5 class="h3 mb-0">{% trans 'Total Performance' %}</h5>
                            <ul class="nav nav-pills justify-content-end d-none">
                                {% if classes %}
                                    <li class="nav-item mr-2 mr-md-0 half-year-chart" 
                                    data-toggle="chart" 
                                    data-target="#chart-bars" 
                                    data-update='{"data":{
                                        "datasets":[{"data":{{ teacher.get_performance_percent_six_months }}
                                            , "label": "Average Grade"}]
                                        , "labels":[{{ six_months_chart_labels|join:", " }}]}}' 
                                    data-update='{"data":{
                                            "datasets":[{"data":[0, 0, 0, 0, 0, 0]
                                                , "label": "Average Grade"}]
                                            , "labels":[{{ six_months_chart_labels|join:", " }}]}}' 
                                    data-prefix="" 
                                    data-suffix="%">
                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab" id="initialBar"></a>
                                    </li>
                                {% else %}
                                    <li class="nav-item mr-2 mr-md-0 half-year-chart" 
                                        data-toggle="chart" 
                                        data-target="#chart-bars" 
                                        data-update='{"data":{
                                            "datasets":[{"data":[0, 0, 0, 0, 0, 0]
                                                , "label": "Average Grade"}]
                                            , "labels":[{{ six_months_chart_labels|join:", " }}]}}' 
                                        data-prefix="" 
                                        data-suffix="%">
                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab" id="initialBar"></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="chart-bars" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- THE FOLLOWING DIV WILL BE USED IN THE NEXT UPDATE -->
    {% comment %} <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Page visits</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Class</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Percent Done</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    /argon/
                                </th>
                                <td>
                                    4,569
                                </td>
                                <td>
                                    340
                                </td>
                                <td>
                                    <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/index.html
                                </th>
                                <td>
                                    3,985
                                </td>
                                <td>
                                    319
                                </td>
                                <td>
                                    <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/charts.html
                                </th>
                                <td>
                                    3,513
                                </td>
                                <td>
                                    294
                                </td>
                                <td>
                                    <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/tables.html
                                </th>
                                <td>
                                    2,050
                                </td>
                                <td>
                                    147
                                </td>
                                <td>
                                    <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/profile.html
                                </th>
                                <td>
                                    1,795
                                </td>
                                <td>
                                    190
                                </td>
                                <td>
                                    <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Social traffic</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Referral</th>
                                <th scope="col">Visitors</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Facebook
                                </th>
                                <td>
                                    1,480
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">60%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Facebook
                                </th>
                                <td>
                                    5,480
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">70%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Google
                                </th>
                                <td>
                                    4,807
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">80%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Instagram
                                </th>
                                <td>
                                    3,678
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">75%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    twitter
                                </th>
                                <td>
                                    2,645
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">30%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script>
    const dataset = [];
    $(document).ready(function() {
        $("#initialChart").trigger("click");
        $("#initialBar").trigger("click");
    });
</script>

{% endblock javascripts %}