{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}
{% load customtags %}
{% load i18n %}

{% block title %} {% trans 'Students' %} {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{% trans 'Students' %}</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="{% url 'teachers:home' %}">{% trans 'Dashboard' %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Students' %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row">
                {% if students %}
                    {% for student in students %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card border-0 bg-gradient-gray-dark">
                            <a href="{{ student.get_absolute_url_teachers }}" class="text-light">
                                <div class="card-body">
                                    <div class="card-title">
                                        {{ student.user.name|title }}
                                    </div>
                                    <p class="card-text">
                                        {% trans 'ID:' %} {{ student.user.username }}<br>
                                        {% trans 'Class:' %} {{ student.student_class }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col">
                    <div class="card border-0 bg-gradient-gray-dark text-center">
                        <div class="card-body">
                            <div class="card-body">
                                <strong class="text-white">{% trans 'No student found.' %}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}